<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs", { title: title })%>
	<body>
		<%- include("./partials/navigation.ejs")%>
		<div>
			<h1>Opps!! you have landed in the wrong place</h1>
			<a href="/">Go back home</a>
		</div>
	</body>
	<%- include("./partials/footer.ejs")%>
</html>
