<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs", { title: title })%>
	<body>
		<%- include("./partials/navigation.ejs")%>
		<div>
			<h1>About us</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, pariatur!
				Aut et quia ad autem pariatur natus sapiente qui ex, corrupti deserunt
				tempore distinctio dignissimos libero recusandae quas nulla repellendus!
			</p>
		</div>
	</body>
	<%- include("./partials/footer.ejs")%>
</html>
